<!-- <% if @post.comments.empty? %>
  <p> No comments</p>
<% else %> -->
  <div class="comment">
      <p><%= comment.body %></p>
      <p><%= comment.created_at %></p>
      <% if can? :destroy, comment  %>
       <%= link_to "Delete", post_comment_path(@post, comment), method: :delete,
                 data: {confirm: "Are you sure you want delete the comment?"} %>
      <% end %>
  </div>
<!-- <% end %> -->
